* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.header {
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  flex-direction: row;
  height: 50px;
  width: 1200px;
  margin: 20px 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: green;
  width: 480px;
}

.chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
}

.tile-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.tile-container {
  width: 1200px;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 20px;
  column-gap: 20px;
  background-color: #ffffff;
  margin: 0px 0px 10px 0px;
  padding: 50px 100px;
}

.add-service {
  background-color: rgb(41, 146, 243);
}

.teams {
  background-color: rgb(95, 124, 139);
}

.button {
  width: 200px;
  border-radius: 8px;
  color: white;
  border: 0;
  padding: 10px 45px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-icon {
  width: 50px;
  height: 50px;
}
